
<form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()" class="w-[80%] m-auto p-5 border border-gray-300 rounded-lg shadow-md mt-7">
    @if (apiError) {
        <div class="error rounded-lg mt-2 bg-red-100 p-3 text-red-700 border-l-4 border-red-500 shadow-sm">
          <ul class="list-disc pl-4 space-y-1">
            <li class="font-medium">{{ apiError }}</li>
          </ul>
        </div>
      }
    
    <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email:</label>
        <app-custom-input formControlName="email" [type]="'email'" [id]="'email'"></app-custom-input>
        @let emailControl=forgetForm.get("email");

        <app-error-message [control]="emailControl!"></app-error-message>
    </div>

    <button 
        type="submit" 
        class="w-full bg-bg-main text-white py-2 rounded-md transition duration-300 disabled:bg-gray-400" 
        [disabled]="forgetForm.invalid">
        @if(isCallingApi){
            <i class="fa fa-spin fa-spinner p-3"></i>
          }@else {
            Reset Password

          }
    </button>
</form>

<app-reset-code [validEmail]="validEmail" (validEmailChange)="validEmail.set($event)" (validCodeChange)="validCode.set($event)" ></app-reset-code>

<app-reset-password [validCode]="validCode" (validCodeChange)="validCode.set($event)"></app-reset-password>
