@if(validCode()){
    <div class="flex justify-center items-center bg-gray-400 bg-opacity-50 fixed top-0 left-0 right-0 bottom-0 ">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="setNewPassword()" class="w-[80%] md:w-[50%] lg:w-[40%] m-auto p-5 border border-gray-300 rounded-lg shadow-md bg-white">
            @if (apiError) {
                <div class="error rounded-lg mt-2 bg-red-100 p-3 text-red-700 border-l-4 border-red-500 shadow-sm">
                  <ul class="list-disc pl-4 space-y-1">
                    <li class="font-medium">{{ apiError }}</li>
                  </ul>
                </div>
              }
            
            <h2 class="text-xl font-semibold text-center mb-4 mt-2 text-gray-800">Enter Reset Code</h2>
        
            <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email:</label>
                <app-custom-input formControlName="email" [type]="'email'" [id]="'email'"></app-custom-input>
                @let email=resetPasswordForm.get('email');
                <app-error-message [control]="email!"></app-error-message>
            </div>

            <div class="mb-5">
                <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900">NewPassword:</label>
                <app-custom-input formControlName="newPassword" [type]="'Password'" [id]="'newPassword'"></app-custom-input>
                @let newPassword=resetPasswordForm.get('newPassword');
                <app-error-message [control]="newPassword!"></app-error-message>
            </div>
        
            <button 
                type="submit" 
                class="w-full bg-bg-main text-white py-2 rounded-md transition duration-300 disabled:bg-gray-400" 
                [disabled]="resetPasswordForm.invalid">
                @if(isCallingApi){
                    <i class="fa fa-spin fa-spinner p-3"></i>
                  }@else {
                    Verify Code
        
                  }
            </button>
        </form>
        
    </div>
}