<h2 class="text-3xl font-bold text-gray-800 py-4">Shop Popular Categories</h2>

<owl-carousel-o [options]="customOptions" class="relative group">
    @for (item of categories; track $index) {
    <ng-template carouselSlide [id]="item._id">
        <div class="relative overflow-hidden rounded-lg shadow-md transition-all duration-500 transform hover:scale-105">
            <img [src]="item.image" 
                 class="h-[300px] w-full object-cover rounded-lg brightness-90 transition-all duration-500 group-hover:brightness-100"
                 [alt]="item.name" 
                 [title]="item.name">
            <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-40 opacity-0 
                        transition-opacity duration-500 hover:opacity-100">
                <p class="text-white text-lg font-semibold">{{ item.name }}</p>
            </div>
        </div>
    </ng-template>
    }
</owl-carousel-o>

