<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<app-navbar></app-navbar>
<div class="max-w-6xl mx-auto p-5">
  
    <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">Our Brands</h2>
  
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      
      @for(brand of brands; track brand._id) {
        <div class="bg-white shadow-md rounded-lg p-4 flex flex-col items-center transition-all duration-300 
                    hover:shadow-lg hover:scale-105 cursor-pointer">
          
          <img [src]="brand.image" [alt]="brand.name"
               class="w-24 h-24 object-contain rounded-full bg-gray-100">
  
          <h3 class="text-lg font-medium text-gray-800 mt-3">{{ brand.name }}</h3>
  
          <p class="text-gray-500 text-sm mt-1">#{{ brand.slug }}</p>
  
        </div>
      }
  
    </div>
  
  </div>
  
